.projects {
  height: auto;
  width: auto;
  padding: 1rem;
  background-color: #073c7233;
  margin: 2rem;
  border-radius: 25px;
}
.projectImg {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 6px #333;
  border-radius: 4px;
}
.projectName {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
}
.projectSubTitle {
  font-size: 16px;
}

.icons {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.icons > i {
  margin: 1rem;
  color: #073c72;
}
.btnMore {
  margin: 5% 25%;
  width: 50%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showInfo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.507);
  animation: popup 0.3s ease forwards;
  transform-origin: center;
  z-index: 1;
}
.infoContent {
  position: relative;
  top: 25%;
  width: 50%;
  margin: 0 auto;
  color: #ddd;
  background: #333;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 10px #333;
  animation: popup 0.6s ease forwards;
  transform: scale(0);
  transform-origin: center;
  z-index: 4;
}
@keyframes popup {
  to {
    transform: scale(1);
  }
}
.head {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.body {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}
.legend {
  color: #ddd !important;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
@media screen and (max-width: 520px) {
  .projects {
    margin: 1rem;
    padding: 0;
  }
  .projectImg {
    margin: 1rem;
    width: 95%;
    height: auto;
  }
  .infoContent {
    width: 50%;
    top: 5%;
    padding: 1rem;
    margin: 0;
  }
  .head {
    text-align: center;
  }
}
