.projetPage {
  height: 100vh;
}

.projetTitle {
  margin-top: 50px;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  animation: render 1s ease-in-out;
  transform-origin: top center;
}
.projetSubTitle {
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: center;
  animation: render 1.5s ease-in-out;
  transform-origin: top center;
}
@keyframes render {
  0% {
    transform: translateY(-200px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
