.HomePage {
  color: #ddd;
  width: 100%;
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomePage::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../../media/back.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: brightness(40%);
}
.HomeDesc {
  min-height: 100vh;
  padding-top: 5%;
  background-color: rgba(221, 221, 221, 0.4);
}

.profilePhoto {
  margin-top: 10%;
  height: 408px;
  width: 306px;
  box-shadow: 0 0 0 4px #073c72;
  align-items: center;
}

.cvFile {
  width: 20%;
  margin: 10% 40%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #073c72;
  border: solid;
  border-color: #073c72;
}

.cvFile:hover {
  background-color: #073c72;
  color: #ddd;
  border: solid;
  border-color: #ddd;
}

.nameTitle {
  font-weight: 500;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
}
.jobTitle {
  margin: 5%;
  text-align: center;
}
.descTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  animation: aniText 2.5s ease-out;
}
.descTexte {
  font-size: 16px;
  animation: aniText 3.5s ease-out;
}
@keyframes aniText {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* --------------- PAGE RESUME ----------------*/

.HomeResume {
  padding-top: 5%;
  min-height: 80vh;
  width: 100%;
  background-color: rgb(20, 19, 19);
  color: #ddd;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formaHeading {
  height: 50px;
  text-transform: uppercase;
  text-align: center;
}
.expHeading {
  height: 50px;
  text-transform: uppercase;
  text-align: center;
}
.containerText {
  margin: 5% 10%;
}

.formaTitle {
  width: 100%;
  margin-bottom: 5%;
}
.formaDate {
  width: 100%;
}
.formaDesc {
  margin-top: 5%;
}
.expTitle {
  width: 100%;
  margin-bottom: 5%;
}
.expDate {
  padding-top: 30px;
  width: 100%;
}
.expDesc {
  margin-top: 5%;
}
.resumeImg {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  display: none;
}
@media screen and (max-width: 520px) {
  .nameTitle {
    font-size: 3rem;
  }
  .cvFile {
    width: auto;
    margin: 10% 30%;
    text-align: center;
  }
  .resumeImg {
    margin-bottom: 1rem;
    margin-left: 0%;
    width: 100%;
  }
}
