.compPage {
  min-height: 100vh;
  background-color: #f4ede433;
}
.compTitle {
  padding: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
  text-shadow: 0 13.36px 8.896px #333, 0 -2px;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.Box {
  padding: 15px;
  background-color: #073c7233;
  border-radius: 2%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 520px) {
  .compTitle {
    font-size: 2.5rem;
  }
  .Box {
    margin-bottom: 2rem;
  }
}
