.footerRow {
  min-height: 10vh;
  background: linear-gradient(90deg, #001f3f 0%, #073d72);
}
.footerIcons {
  width: inherit;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialIcons {
  display: inline-block !important;
  padding: 25px;
}

.devlo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  color: #ddd;
  text-align: left;
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135%;
  height: 10vh;
  color: #ddd;
  text-align: right;
}
@media screen and (max-width: 520px) {
  .copy {
    width: auto;
    text-align: center;
  }
}
